<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('../partials/headerLinks.ejs') %>

    
    <title><%= title %></title>
</head>

<body>

    <%- include('../partials/navbar.ejs') %>


    <!-- Main header -->
    <div class="container-fluid main-header">
        <div class="row ">
            <!-- right side -->
            <div class="col-md-6 col-12 main-header-right">
                <figure>
                    <img src="./images/2397489.jpg" alt="" class="img-fluid">
                </figure>
            </div>
            <!-- left side div -->
            <div class="col-md-6 col-12 main-header-left">
                <p>I am a <span class="text-clr">Mern Stack</span> Developer</p>
                <h1>Computer Science and <span class="text-danger">Engineering</span> Student </h1>
                <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, laborum. Minus aliquid repellat illum eos ipsa temporibus, in porro quia saepe quos, ad pariatur doloremque. Minima, hic. Placeat minus quidem quaerat, consequatur voluptatem neque!</p>
                <a href="http://saffix.kesug.com/?i=1"><button>About Me</button></a>
            </div>
            
        </div>
    </div>

    <!--  Footer -->
    <%- include('../partials/footer.ejs') %>

    
</body>

</html>