<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>this is index page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, odio blanditiis amet reprehenderit possimus eos aliquid quia explicabo quo numquam nemo minima libero vero consequatur autem voluptatem impedit. Quis eligendi dolores porro ab recusandae eaque, quod distinctio pariatur, dolorem harum aliquam id officia tempora perspiciatis.</p>
    <p>dmbfmnkekwekjh</p>

    <a href="/about">about</a>
</body>
</html>